{
  "presets": [
		"flow",
    ["env", {"modules": false, "debug": false}],
		"stage-0"
  ],
  "plugins": [
		"transform-flow-strip-types",
		["transform-class-properties", { "spec": true }],
		["transform-runtime", { "polyfill": false, "regenerator": true }]
		
  ]
}
