// Flat UI Colors : https://flatuicolors.com/
$flat_turquoise: #1abc9c;
$flat_green_sea: #16a085;
$flat_emerald: #2ecc71;
$flat_nephritis: #27ae60;
$flat_peter_river: #3498db;
$flat_belize_hole: #2980b9;
$flat_amethyst: #9b59b6;
$flat_wisteria: #8e44ad;
$flat_wet_asphalt: #34495e;
$flat_midnight_blue: #2c3e50;
$flat_sun_flower: #f1c40f;
$flat_orange: #f39c12;
$flat_carrot: #e67e22;
$flat_pumpkin: #d35400;
$flat_alizarin: #e74c3c;
$flat_pomegranate: #c0392b;
$flat_clouds: #ecf0f1;
$flat_silver: #bdc3c7;
$flat_concrete: #95a5a6;
$flat_asbestos: #7f8c80;
