// Flat UI Colors : https://flatuicolors.com/
$color_win8_4: #000000;
$color_mac_7: #2D2D2D;
$color_mac_11: #FFFFFF;
$color_flat_clouds: #ecf0f1;
$color_mac_5: #D7D7D7;
$color_palette0_4: #aaaaaa;
$color_mac_6: #919191;
$color_win95_4: #6c6c6c;
$color_mac_4: #5F5F5F;
$color_win8_5: #4B4A48;
$color_win8_0: #7E735F;
$color_mac_2: #7B8495;
$color_mac_10: #D5E1ED;
$color_flat_silver: #bdc3c7;
$color_flat_concrete: #95a5a6;
$color_win8_16: #535D54;
$color_win8_10: #4B5459;
$color_flat_midnight_blue: #2c3e50;
$color_flat_wet_asphalt: #34495e;
$color_mac_1: #4A6997;
$color_mac_0: #5A7FB4;
$color_flat_belize_hole: #2980b9;
$color_flat_peter_river: #3498db;
$color_win8_3: #0063B1;
$color_palette0_3: #0037fd;
$color_win95_1: #394dcd;
$color_win8_8: #6B69D6;
$color_win8_6: #8F8BD8;
$color_win8_11: #8764B8;
$color_win8_13: #744DA8;
$color_flat_amethyst: #9b59b6;
$color_flat_wisteria: #8e44ad;
$color_win8_19: #871797;
$color_win8_18: #9B008A;
$color_win8_12: #C00077;
$color_win8_7: #C40052;
$color_palette0_2: #ff0000;
$color_win8_2: #E81123;
$color_win8_17: #D03438;
$color_flat_pomegranate: #c0392b;
$color_flat_alizarin: #e74c3c;
$color_win95_0: #e35f5f;
$color_flat_pumpkin: #d35400;
$color_win8_1: #FF8B00;
$color_flat_carrot: #e67e22;
$color_flat_orange: #f39c12;
$color_flat_sun_flower: #f1c40f;
$color_palette0_1: #fbf000;
$color_win8_15: #4A6762;
$color_mac_8: #62867C;
$color_win8_14: #018675;
$color_flat_green_sea: #16a085;
$color_flat_turquoise: #1abc9c;
$color_flat_emerald: #2ecc71;
$color_flat_nephritis: #27ae60;
$color_win8_20: #10883E;