$flat_turquoise: #1abc9c;
$flat_green_sea: #16a085;
$flat_emerald: #2ecc71;
$flat_nephritis: #27ae60;
$flat_peter_river: #3498db;
$flat_belize_hole: #2980b9;
$flat_amethyst: #9b59b6;
$flat_wisteria: #8e44ad;
$flat_wet_asphalt: #34495e;
$flat_midnight_blue: #2c3e50;
$flat_sun_flower: #f1c40f;
$flat_orange: #f39c12;
$flat_carrot: #e67e22;
$flat_pumpkin: #d35400;
$flat_alizarin: #e74c3c;
$flat_pomegranate: #c0392b;
$flat_clouds: #ecf0f1;
$flat_silver: #bdc3c7;
$flat_concrete: #95a5a6;
$flat_asbestos: #7f8c80;

.root, html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-family: 'Fira Mono';
  background-color: $flat_wet_asphalt;
}

.root {
  display: flex;
  flex-direction: column;
}

.wallpaper, .wallpaper-text, .intro {
  margin: 0;
  padding: 0;
  border: 0;
}

.wallpaper {
  height: 100%;
  padding: 20px;
  background-color: $flat_wet_asphalt;
}

.wallpaper-text, .intro {
  color: $flat_clouds;
}

.wallpaper-text-input {
  color: $flat_clouds;
  caret-color: $flat_clouds;
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  outline: none;
  resize: none;
}

.wallpaper-text-input:focus {
  outline: none;
}

.menu {
  background-color: $flat_midnight_blue; /* The Fallback */
  background-color: rgba(black, 0.2);
  border-radius: 0.25em;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  margin-top: 5px;
}

.button-container {
  margin: 0;
  padding: 0;
  border: 0;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

$color-rectangle-size: 19px;

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  min-width: $color-rectangle-size;
  min-height: $color-rectangle-size;
  font-size: 0.6em;
  font-family: 'Fira Mono';
  
  padding: 5px;
  margin: 5px;
  text-decoration: none !important;
  border-radius: 0.25em;
}

a:link, a:visited {
  color: $flat_wet_asphalt;
  background-color: $flat_clouds;
}

a:hover, a:active {
  color: $flat_clouds;
  background-color: $flat_nephritis;
}

.colorRectangle {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: red;
  width: $color-rectangle-size;
	height: $color-rectangle-size;
  border-radius: 0.15em;
}

.button-icon {
  display:inline-block;
  font-size: 2.0em;
  
  // line-height: 50px;
  // background-color:black;
  // color:white;
  // width: $color-rectangle-size;
  // height: $color-rectangle-size;
  text-align: center;
  vertical-align: middle;
}

ul, li {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

li {
  margin-left: 1em;
}

li span { margin-left: -0.2em; }

.intro {
  background-color: red;
  text-align: left;
  max-width: 300px;
  height: 100%;
}

.intro-content {
  background-color: pink;
  margin: 0px;
  padding: 0px;
}
